// 1. Import the initial variables
@import '../../node_modules/bulma/sass/utilities/initial-variables';
@import '../../node_modules/bulma/sass/utilities/functions';

// 2. Set your own initial variables
$readble: #ff4301;
$readble-invert: #fff;

// 3. Set the derived variables
$primary: $readble;
$primary-invert: $readble-invert;

$link: $readble;

@import '../../node_modules/bulma/bulma.sass';

.is-link {
  cursor: pointer;

  &:hover {
    color: $readble;
  }
}

.header {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);

  margin-bottom: 20px;
  padding: 10px;
}

.footer {
  margin-top: 20px;
}

.divider {
  background-color: #edeff1;

  width: 100%;
  height: 1px;

  margin: 20px 0;
}

.vertical-buttons {
  display: flex;

  margin-top: 20px;

  align-items: center;
  flex-direction: column;
}

.card {
  display: flex;
  align-items: center;

  .card-votes {
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;

    i {
      cursor: pointer;
    }
  }

  .card-content {
    width: calc(100% - 30px);
    padding-left: calc(1.5rem - 10px);
  }
}

.title a {
  color: #363636 !important;
}

.mr-5 {
  margin-right: 5px;
}

.loading {
  display: flex;
  justify-content: center;

  .loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid $primary;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
