// 1. Import the initial variables
@import '../../node_modules/bulma/sass/utilities/initial-variables';
@import '../../node_modules/bulma/sass/utilities/functions';

// 2. Set your own initial variables
$readble: #ff4301;
$readble-invert: #fff;

// 3. Set the derived variables
$primary: $readble;
$primary-invert: $readble-invert;

$link: $readble;

@import '../../node_modules/bulma/bulma.sass';

.header {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);

  margin-bottom: 20px;
  padding: 10px;
}

.footer {
  margin-top: 20px;
}

.divider {
  background-color: #edeff1;

  width: 100%;
  height: 1px;

  margin: 20px 0;
}

.vertical-buttons {
  display: flex;

  margin-top: 20px;

  align-items: center;
  flex-direction: column;
}
